package middleware

import (
	"{{MODULE_PATH}}/internal/application"
	"{{MODULE_PATH}}/internal/infrastructure/server"
)

type Middlewares struct {
	Global          *GlobalMiddlewares
	Auth            *AuthMiddleware
	Authorization   *AuthorizationMiddleware
	ContextEnhancer *ContextEnhancer
	Tracing         *TracingMiddleware
	RateLimit       *RateLimitMiddleware
}

func NewMiddlewares(s *server.Server, services *application.Services) *Middlewares {
	var authorizer AuthorizationEnforcer
	if services != nil {
		authorizer = services.Authorization
	}

	return &Middlewares{
		Global:          NewGlobalMiddlewares(s),
		Auth:            NewAuthMiddleware(s),
		Authorization:   NewAuthorizationMiddleware(authorizer),
		ContextEnhancer: NewContextEnhancer(s),
		Tracing:         NewTracingMiddleware(s),
		RateLimit:       NewRateLimitMiddleware(s),
	}
}
